.dashboardContainer{
    background-color: #f5f6f8;
    width: 100%;
    height: 100%;
}
.highlightContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}
.graphContainer{
    display: flex;
    justify-content: space-between;
    height: 50%;
    margin: 3%;
}
